html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

  .box {
    box-shadow: 10px 5px 10px 5px teal;
    background-color: whitesmoke;
  }
  
  .box:hover {
    box-shadow: 16px 10px 16px 10px black;
  }

  * {
    box-sizing: border-box;
}

footer {
  text-align: center;
  letter-spacing: 5px;
}